.accueil,
.accueil * {
  box-sizing: border-box;
}
.accueil {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  height: 885px;
  position: relative;
  overflow: hidden;
}
.page-d-accueil {
  padding: 16px 12px 0px 12px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  width: 442px;
  position: absolute;
  left: 20px;
  top: 7px;
}
.avatar {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
  aspect-ratio: 1;
}
.image {
  width: 50px;
  height: 50px;
  position: absolute;
  left: -5px;
  top: -5px;
  object-fit: cover;
}
.frame-427318906 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.title {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.subtitle {
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.list {
  padding: 0px 12px 0px 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 479px;
  height: 261px;
  position: absolute;
  left: 2px;
  top: 275px;
  overflow: hidden;
}
.section-title {
  padding: 16px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.text {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.title2 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.row {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 367px;
  position: relative;
}
.card {
  border-radius: 6px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.image-container {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 164px;
  position: relative;
  overflow: hidden;
  transition: transform 0.4s ease;
}
.image2 {
  background: rgba(0, 0, 0, 0.05);
  align-self: stretch;
  flex: 1;
  position: relative;
}
.image3 {
  border-radius: 6px 6px 0px 0px;
  width: 178px;
  height: 164px;
  position: absolute;
  left: 1px;
  top: 0.5px;
  object-fit: cover;
}
.tag {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 6px 0px 6px 0px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0px;
  top: 0px;
}
.text2 {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  position: relative;
}
.text-content {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.title3 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.subtitle2 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.image-1 {
  width: 219px;
  height: 164px;
  position: absolute;
  left: -33.5px;
  top: -0.5px;
  object-fit: cover;
  aspect-ratio: 219/164;
}
.list2 {
  padding: 0px 12px 0px 12px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 476px;
  height: 185px;
  position: absolute;
  left: 2px;
  top: 535px;
}
.section-title2 {
  padding: 16px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 52px;
  position: relative;
}
.item {
  padding: 12px 0px 12px 0px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  aspect-ratio: 1;
}
.icon {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-overflow: ellipsis;
  overflow: hidden;
}
.title4 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.subtitle3 {
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.subtitle4 {
  color: #000000;
  text-align: right;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  position: relative;
}
.vector-200 {
  flex-shrink: 0;
  height: 0px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  overflow: visible;
}
.vector-2002 {
  flex-shrink: 0;
  height: 0px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  overflow: visible;
}
.assia {
  background: #ffffff;
  padding: 0px 0px 62px 0px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  width: 360px;
  position: absolute;
  left: -862px;
  top: 158px;
}
.top-bar {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
}
.top {
  align-self: stretch;
  flex-shrink: 0;
  height: 24px;
  position: relative;
  overflow: visible;
}
.content {
  padding: 12px 8px 12px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.title5 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  position: relative;
  flex: 1;
}
.search {
  padding: 0px 12px 0px 12px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.textfield {
  border-radius: 6px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 1px;
  padding: 4px 4px 4px 12px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.text3 {
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  flex: 1;
}
.primary {
  background: #000000;
  border-radius: 4px;
  padding: 4px 8px 4px 8px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.ic-search {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.info {
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.tab-group {
  padding: 0px 12px 0px 12px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 52px;
  position: relative;
  overflow: hidden;
}
.list3 {
  padding: 0px 12px 0px 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.row2 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.image-container2 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 336px;
  position: relative;
  overflow: hidden;
  transition: transform 0.4s ease;
}
.title6 {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  position: absolute;
  right: 16px;
  left: 16px;
  top: 50%;
  translate: 0 -50%;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tag2 {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 6px 0px 6px 0px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0px;
  top: 0px;
}
.text4 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  position: relative;
}
.text-content2 {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.icon-buttons {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.icon2 {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: transform 0.2s ease;
}
.avatar2 {
  padding: 16px 12px 0px 12px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.card2 {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.user {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.avatar3 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.avatar4 {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  aspect-ratio: 1;
}
.title7 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.frame-427318817 {
  flex-shrink: 0;
  width: 58.26px;
  height: 9.81px;
  position: relative;
  overflow: visible;
}
.post {
  border-radius: 6px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.user2 {
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.subtitle5 {
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.icon-buttons2 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.pagination {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  translate: -50%;
  bottom: 8px;
}
.rectangle-3343 {
  background: #ffffff;
  border-radius: 100px;
  flex-shrink: 0;
  width: 20px;
  height: 4px;
  position: relative;
}
.rectangle-3344 {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 100px;
  flex-shrink: 0;
  width: 4px;
  height: 4px;
  position: relative;
  aspect-ratio: 1;
}
.rectangle-3347 {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 100px;
  flex-shrink: 0;
  width: 4px;
  height: 4px;
  position: relative;
  aspect-ratio: 1;
}
.rectangle-3340 {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 100px;
  flex-shrink: 0;
  width: 4px;
  height: 4px;
  position: relative;
  aspect-ratio: 1;
}
.text-content3 {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.selection {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.label-normal {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 0.5px;
  padding: 2px 4px 2px 4px;
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.label-text {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  position: relative;
}
.list4 {
  padding: 0px 12px 0px 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.button {
  border-radius: 4px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 3px 4px 3px 8px;
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.title8 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  position: relative;
}
.icon3 {
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  position: relative;
  overflow: visible;
}
.article {
  padding: 8px 0px 8px 0px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.image-container3 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  position: relative;
  overflow: hidden;
}
.title9 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.selection2 {
  padding: 4px 0px 4px 0px;
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.subtitle6 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.user3 {
  padding: 4px 0px 4px 0px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.avatar5 {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  aspect-ratio: 1;
}
.vector-2003 {
  flex-shrink: 0;
  height: 0px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  overflow: visible;
}
.list5 {
  padding: 0px 12px 0px 12px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.icon4 {
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  position: relative;
  overflow: visible;
}
.subtitle7 {
  color: #000000;
  text-align: right;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  position: relative;
  width: 90px;
}
.vector-2004 {
  flex-shrink: 0;
  height: 0px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  overflow: visible;
}
.button2 {
  padding: 0px 12px 0px 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.seconday {
  background: #ffffff;
  border-radius: 8px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 10px 12px 10px 12px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.title10 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  position: relative;
}
.primary2 {
  background: #000000;
  border-radius: 8px;
  padding: 10px 12px 10px 12px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.title11 {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  position: relative;
}
.bottom-nav {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: absolute;
  right: -3862.64px;
  left: 3862.642578125px;
  bottom: -116.54px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
  overflow: hidden;
}
.tab {
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.icon5 {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  position: relative;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: transform 0.2s ease;
}
.title12 {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-overflow: ellipsis;
  overflow: hidden;
}
.search2 {
  padding: 0px 12px 0px 12px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  width: 477px;
  position: absolute;
  left: -2px;
  top: 91px;
  overflow: hidden;
}
.ic-search2 {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.info2 {
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  position: relative;
  width: 339px;
}
.image-container4 {
  padding: 0px 12px 0px 12px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 440px;
  height: 120px;
  position: absolute;
  left: 12px;
  top: 155px;
  overflow: hidden;
}
.image4 {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.button3 {
  padding: 0px 12px 0px 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 475px;
  height: 100px;
  position: absolute;
  left: -5px;
  top: 728px;
  overflow: hidden;
}
.bottom-nav2 {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  height: 58px;
  position: absolute;
  right: -83px;
  left: 0px;
  bottom: -4px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
  overflow: hidden;
}
.tab2 {
  padding: 7px 4px 8px 4px;
  display: flex;
  flex-direction: column;
  gap: 1px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.gg-profile {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  aspect-ratio: 1;
}
.group {
  width: 91.67%;
  height: 91.67%;
  position: absolute;
  right: 4.17%;
  left: 4.17%;
  bottom: 4.17%;
  top: 4.17%;
  overflow: visible;
}
.card:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}
.card2:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}
.post:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}
.button:hover{
  transform: scale(1.02);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.seconday:hover{
  transform: scale(1.02);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.primary2:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.icon2:hover
{
  transform: scale(1.2);
  cursor: pointer;
}
.icon5:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.tab:hover{
  background: rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  transition: background 0.3s;
  cursor: pointer;
}
.tab2:hover {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  transition: background 0.3s;
  cursor: pointer;
}
.image-container:hover img {
  transform: scale(1.05);
}
.image-container2:hover img {
  transform: scale(1.05);
}
.textfield input {
  transition: all 0.3s ease;
}
.textfield .text3 {
  transition: all 0.3s ease;
}
.textfield:hover {
  border-color: #000;
}
.label-normal:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}