.feed-back,
.feed-back * {
  box-sizing: border-box;
}
.feed-back {
  background: #ffffff;
  height: 774px;
  position: relative;
  overflow: hidden;
}
.page-d-accueil {
  padding: 16px 12px 0px 12px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  width: 454px;
  height: 56px;
  position: absolute;
  left: 21px;
  top: 7px;
}
.avatar {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
  aspect-ratio: 1;
}
.image {
  width: 50px;
  height: 50px;
  position: absolute;
  left: -5px;
  top: -5px;
  object-fit: cover;
}
.frame-427318906 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.title {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.subtitle {
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.section-title {
  padding: 16px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  width: 463px;
  height: 41px;
  position: absolute;
  left: 14px;
  top: 157px;
}
.primary {
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.text {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.title2 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.bottom-nav {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  height: 58px;
  position: absolute;
  right: 9px;
  left: 0px;
  bottom: -1px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
  overflow: hidden;
}
.tab {
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.icon {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  position: relative;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-overflow: ellipsis;
  overflow: hidden;
}
.title3 {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-overflow: ellipsis;
  overflow: hidden;
}
.tab2 {
  padding: 7px 4px 8px 4px;
  display: flex;
  flex-direction: column;
  gap: 1px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.gg-profile {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  aspect-ratio: 1;
}
.group {
  width: 91.67%;
  height: 91.67%;
  position: absolute;
  right: 4.17%;
  left: 4.17%;
  bottom: 4.17%;
  top: 4.17%;
  overflow: visible;
}
.assia {
  background: #ffffff;
  padding: 0px 0px 62px 0px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  width: 360px;
  position: absolute;
  left: -862px;
  top: 158px;
}
.top-bar {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
}
.top {
  align-self: stretch;
  flex-shrink: 0;
  height: 24px;
  position: relative;
  overflow: visible;
}
.content {
  padding: 12px 8px 12px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.title4 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  position: relative;
  flex: 1;
}
.search {
  padding: 0px 12px 0px 12px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.textfield {
  border-radius: 6px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 1px;
  padding: 4px 4px 4px 12px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.text2 {
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  flex: 1;
}
.primary2 {
  background: #000000;
  border-radius: 4px;
  padding: 4px 8px 4px 8px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.ic-search {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.info {
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.tab-group {
  padding: 0px 12px 0px 12px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 52px;
  position: relative;
  overflow: hidden;
}
.list {
  padding: 0px 12px 0px 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.section-title2 {
  padding: 16px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.row {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.card {
  border-radius: 6px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.image-container {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 336px;
  position: relative;
  overflow: hidden;
}
.image2 {
  background: rgba(0, 0, 0, 0.05);
  align-self: stretch;
  flex: 1;
  position: relative;
}
.title5 {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  position: absolute;
  right: 16px;
  left: 16px;
  top: 50%;
  translate: 0 -50%;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tag {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 6px 0px 6px 0px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0px;
  top: 0px;
}
.text3 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  position: relative;
}
.text-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.title6 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.subtitle2 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.icon-buttons {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.icon2 {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-overflow: ellipsis;
  overflow: hidden;
}
.avatar2 {
  padding: 16px 12px 0px 12px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.card2 {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.user {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.avatar3 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.avatar4 {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  aspect-ratio: 1;
}
.title7 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.frame-427318817 {
  flex-shrink: 0;
  width: 58.26px;
  height: 9.81px;
  position: relative;
  overflow: visible;
}
.title8 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.post {
  border-radius: 6px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.user2 {
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.subtitle3 {
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.icon-buttons2 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.pagination {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  translate: -50%;
  bottom: 8px;
}
.rectangle-3343 {
  background: #ffffff;
  border-radius: 100px;
  flex-shrink: 0;
  width: 20px;
  height: 4px;
  position: relative;
}
.rectangle-3344 {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 100px;
  flex-shrink: 0;
  width: 4px;
  height: 4px;
  position: relative;
  aspect-ratio: 1;
}
.rectangle-3347 {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 100px;
  flex-shrink: 0;
  width: 4px;
  height: 4px;
  position: relative;
  aspect-ratio: 1;
}
.rectangle-3340 {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 100px;
  flex-shrink: 0;
  width: 4px;
  height: 4px;
  position: relative;
  aspect-ratio: 1;
}
.text-content2 {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.selection {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.label-normal {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 0.5px;
  padding: 2px 4px 2px 4px;
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.label-text {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  position: relative;
}
.list2 {
  padding: 0px 12px 0px 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.button {
  border-radius: 4px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 3px 4px 3px 8px;
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.title9 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  position: relative;
}
.icon3 {
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  position: relative;
  overflow: visible;
}
.article {
  padding: 8px 0px 8px 0px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.image-container2 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  position: relative;
  overflow: hidden;
}
.title10 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.selection2 {
  padding: 4px 0px 4px 0px;
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.subtitle4 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.user3 {
  padding: 4px 0px 4px 0px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.avatar5 {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  aspect-ratio: 1;
}
.vector-200 {
  flex-shrink: 0;
  height: 0px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  overflow: visible;
}
.list3 {
  padding: 0px 12px 0px 12px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.icon4 {
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  position: relative;
  overflow: visible;
}
.item {
  padding: 12px 0px 12px 0px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  aspect-ratio: 1;
}
.icon5 {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-overflow: ellipsis;
  overflow: hidden;
}
.subtitle5 {
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.subtitle6 {
  color: #000000;
  text-align: right;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  position: relative;
  width: 90px;
}
.vector-2002 {
  flex-shrink: 0;
  height: 0px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  overflow: visible;
}
.button2 {
  padding: 0px 12px 0px 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.seconday {
  background: #ffffff;
  border-radius: 8px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 10px 12px 10px 12px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.title11 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  position: relative;
}
.primary3 {
  background: #000000;
  border-radius: 8px;
  padding: 10px 12px 10px 12px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.title12 {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  position: relative;
}
.bottom-nav2 {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: absolute;
  right: -3862.64px;
  left: 3862.642578125px;
  bottom: -116.54px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
  overflow: hidden;
}
.search2 {
  padding: 0px 12px 0px 12px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  width: 490px;
  position: absolute;
  left: -2px;
  top: 91px;
  overflow: hidden;
}
.ic-search2 {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.row2 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 462px;
  height: 152px;
  position: absolute;
  left: 5px;
  top: 208px;
}
.card3 {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 9px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 462px;
  height: 152px;
  position: relative;
  overflow: hidden;
}
.frame-4273188172 {
  flex-shrink: 0;
  width: 58.26px;
  height: 9.81px;
  position: relative;
  overflow: visible;
}
.title13 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  height: 69px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.heart {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.vector {
  flex-shrink: 0;
  width: 16px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.share {
  flex-shrink: 0;
  width: 11px;
  height: 11px;
  position: relative;
  overflow: hidden;
  aspect-ratio: 1;
}
.arrow-bend-up-left {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  aspect-ratio: 1;
}
.share2 {
  flex-shrink: 0;
  width: 19px;
  height: 19px;
  position: relative;
  overflow: hidden;
  aspect-ratio: 1;
}
.share3 {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.row3 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 462px;
  height: 152px;
  position: absolute;
  left: 5px;
  top: 370px;
}
.frame-4273188173 {
  flex-shrink: 0;
  width: 58.26px;
  height: 9.81px;
  position: relative;
  overflow: visible;
}
.heart2 {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.vector2 {
  flex-shrink: 0;
  width: 16px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.share4 {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.row4 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 462px;
  height: 152px;
  position: absolute;
  left: 5px;
  top: 530px;
}
.card4 {
  background: rgba(255, 0, 0, 0.08);
  border-radius: 6px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 9px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 462px;
  height: 152px;
  position: relative;
  overflow: hidden;
}
.group-1 {
  flex-shrink: 0;
  width: 58px;
  height: 10px;
  position: relative;
  overflow: visible;
}
.heart3 {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.vector3 {
  flex-shrink: 0;
  width: 16px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.share5 {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
